


<!--&lt;!&ndash;<div>&ndash;&gt;-->
  <!--&lt;!&ndash;<nav>&ndash;&gt;-->
    <!--&lt;!&ndash;<a>Navigation:</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<ul>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a [router-link]="['home']">Home</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a [router-link]="['login']">Login</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a [router-link]="['dashboard']">Dashboard</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
  <!--&lt;!&ndash;</nav>&ndash;&gt;-->

  <!--<router-outlet></router-outlet>-->


<div>


  <router-outlet></router-outlet>
</div>
